.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 300px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
  }
  
  .container img {
    width: 100%;
    height: auto;
  }
  
  .container h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
  }
  
  .container p {
    margin: 10px 0;
    font-size: 16px;
  }

  .poketypes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
  }

  .poketypes > div {
    margin-left: 5px;
    text-align: center;

  }

  .no-bullets {
    list-style-type: none;
  }

  .pokemon-types {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .pokemon-types > div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    height: 75%;
    width: 80px;
    border-radius: 15px;
    color: aliceblue;
  }

  .stats{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
  }



  .stat{
    display: flex;
    align-items: center; /* Añadido para centrar verticalmente */
    width: 100%;
    font-size: x-small;
  }

  .stat > p {
    margin: 0;
    padding: 0;
    text-align: left;
    width: 50%;
  }

  mat-progress-bar {
    margin-right: 5px;
  }


